# This is a basic workflow to help you get started with Actions

name: ECR CI Demo

on:

  push:
    branches: [ master ]


jobs:

  build:
    name: Build and Push Docker Image to ECR
    runs-on: [self-hosted, ecr-label]

    steps:
      - name: Github Checkout
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ecr-test-repo
          IMAGE_TAG: latest ##${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
  
  get_ecr_image:
    name: Pull Image from AWS ECR
  
    runs-on: [self-hosted, ecr-label]
    needs: build

    container:
      image: 133615223499.dkr.ecr.ap-south-1.amazonaws.com/ecr-test-repo:latest
      credentials:
        username: AWS
        password: ${{ secrets.ECR_PASSWORD }}
      
    steps:
      - name: Run Python script
        run: pyhton3 hello_world.py

    # steps:
    #   # - name: Github Checkout
    #   #   uses: actions/checkout@v2
    #   - name: Configure AWS credentials
    #     uses: aws-actions/configure-aws-credentials@v1
    #     with:
    #       # aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #       # aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #       aws-region: ap-south-1

    #   - name: Login to Amazon ECR
    #     id: login-ecr
    #     uses: aws-actions/amazon-ecr-login@v1
      
    #   - name: Run ECR image
    #     env:
    #       ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
    #       ECR_REPOSITORY: ecr-test-repo
    #       IMAGE_TAG: latest ##${{ github.sha }}
    #     run: docker run --rm $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG